<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>secure sql</title>
</head>
<body>
    <!--mayhap this needs an action?-->
    
    <title>SQL injection</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <form method="POST" name="myform" action="/register">
        <table>
            <tr>
        <th> Enter user ID</th>
            <td><input type="text" name="id" id="identification" required minlength="8"></td>
        </tr>
        <tr>
            <th> Enter full name</th>
                <td><input type="text" name="name" id="names" required minlength="4"></td>
            </tr>
            <tr>
                <th> Enter email</th>
                    <td><input type="email" name="email" id="emails" required minlength="8"></td>
                </tr>
                <tr>
                    <th> Enter username</th>
                        <td><input type="text" name="username" id="username" required minlength="6"></td>
                    </tr>
                    <tr>
                        <td colspan = "2"><input type="submit" value="submit"></td>
                    </tr>
                </table>
            </form>



</body>
</html>